body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
}

.navbar-brand {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.l-header_area {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.l-header_gnavItem {
  display: inline-block;
  positon: relative;
  padding-right: 15px;
  margin-right: 10px;
}

.player-list-left {
  float: right;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.player-list-right {
  float: left;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 50%;
}

.c-icon_require {
  color: #0000FF;
}

